<form method="POST" action="/signup">
    <label for="fname">User name:</label><br>
    <input type="text" id="fname" name="username"><br>
    <label for="lname">password:</label><br>
    <input type="password" id="lname" name="password">
    <label for="fname">Email:</label><br>
    <input type="text" id="fname" name="email"><br>
    <button type="submit">submit</button>
  </form>